.jumbotron {
	 background:url("../img/stade.jpg") no-repeat; 
}

.well{
	opacity: 0.80;
}

tbody {
	opacity: 0.80;

}


.Board {
	text-align: center;
}



.team1, .team2, .timer {
	display: inline-block;
	margin-left: 15%;
	text-align: center;
}

.team1 {
	margin-left: 10%;
}

#scoreDisplay, #timeline {
 text-align: center;
}

#timerform {
	text-align: center;
}

.timer {

	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
}

.timer input {
	display: block;
}

.Score{
	width : 900px;
	margin: auto;
	text-align: center;
}

.tName {
	
}

#score1, #score2 {
	font-size: 50px;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	display: block;
	width: 100px;
	margin: auto;
}
.scoreteam1 {
	margin-right: 250px;
	text-align: center;
}

.scoreteam2 {
	margin-left: 250px;
	text-align: center;
}

.scoreteam1, .scoreteam2 {
	display: inline-block;
}

#less1, #less2, #more1, #more2 {
	font-size: 30px;
}

.btn, .btn-sm, .btn-default {
	margin:auto;
	margin-bottom: 10px;
}

.logo {
	height: 194%;
	margin-top: -8px;
}

#timelineUl {
	list-style-type: none;
}

.scrollbar {
	overflow:scroll;
	height: 100px;
	margin-left: 20%;
	margin-right: 20%;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	text-align: center;
	font-size: 20px;

}

@media screen and (max-width: 1000px) {
 	
 	.team1, .team2, .timer {
	display: block;
	margin-left: 5%;
	text-align: center;
	}
	
	#scoreDisplay {
		text-align: left;
		margin-left: 15%;
	}


	.Score {
		text-align: left;
		width: auto;
	}
	
	.scoreteam1, .scoreteam2 {
		display:inline-block;
	}

	.scoreteam2 {
		margin-left: 5%;
	}

	.scrollbar {
	overflow:scroll;
	height: 50px;
	margin-left: 20%;
	margin-right: 20%;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	text-align: center;
	font-size: 20px;
	}



}


