.jumbotron {
	 background:url("../img/stade.jpg") no-repeat; 
}

.well{
	opacity: 0.80;
}

tbody {
	opacity: 0.80;

}


.Board {
	text-align: center;
}

.team1, .team2, .timer {
	display: inline-block;
	margin-top: 50px;
}

.team1 {
	margin-left: 10%;
}

#scoreDisplay {
 text-align: center;
}

#timerform {
	text-align: center;
}

.timer {

	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
}

.timer input {
	display: block;
}

.Score{
	width : 900px;
	display: block;
	clear: both;
	margin: auto;
	text-align: center;
}

.tName {
	
}

#score1, #score2 {
	font-size: 50px;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	display: block;
	width: 100px;
	margin: auto;
}
.scoreteam1 {
	margin-right: 250px;
	text-align: center;
}

.scoreteam2 {
	margin-left: 250px;
	text-align: center;
}

.scoreteam1, .scoreteam2 {
	display: inline-block;
}

#less1, #less2, #more1, #more2 {
	font-size: 30px;
}

@media only screen and (max-width: 540px) {
	.Score {
		display: block;
		text-align: left;
	}

	.scoreteam1, .scoreteam2 {
		display: block;
	}
	
}

.btn, .btn-sm, .btn-default {
	margin:auto;
	margin-bottom: 10px;
}

.logo {
	height: 194%;
	margin-top: -8px;
}

#timeline {
	margin-left: 45%;
}

.scrollbar {
	overflow:scroll;
	margin-left: 40%;
	height: 100px;
	width: 20%;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
}

@media screen and (max-width: 600px) {
   
}


