{% extends "ScoreBoardBundle::layout.html.twig" %}

{% set activePage = 'contact' %}

{% block content %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<h1 class="contact">Page contact</h1>
	</div>
</div>
{% endblock %}