{% extends "ScoreBoardBundle::layout.html.twig" %}

{% set activePage = 'tournament' %}

{% block content %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<div class="well">
			<h1>Tournament creation</h1>
			<p>Here you can create a tournament by inserting a name.</p>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Tournament creation form</h3>
			</div>
			<div class="panel-body">
				<form action="{{ path("createtournament_ScoreBoard") }}" method="post">

		      	{{ form_widget(form) }}
		      
		      	<input type="submit" name="Envoie" value="create" />
		    	</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}