
{% extends "ScoreBoardBundle::layout.html.twig" %}

{% set activePage = 'match' %}

{% block content %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<div class="well">
			<h1>Match creation</h1>
			<p>Here you can create a match by selecting the two teams involved in the game.</p>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Match creation form</h3>
			</div>
			<div class="panel-body">
				<form action="{{ path("creation_ScoreBoard") }}" method="post">

		      	{{ form_widget(form) }}
		      
		      	<input type="submit" name="Envoie" value="Create" />
		    	</form>
		    	<li><a href="{{ path('creation_ScoreBoard') }}">Vote team does not appear? Create one!</a></li>
			</div>
		</div>
	</div>
</div>

{% endblock %}