{% extends "ScoreBoardBundle::layout.html.twig" %}

{% set activePage = 'home' %}

{% block content %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<div class="well">
			<h1>Bienvenue</h1>
			<p> Vous pouvez ici créer votre match, projeter un écran avec le score et la timélie ainsi qu'un autre écran pour l'arbitre afin de gérer le score et les différents éléments qui seront affichés. dans la timeline</p>
		</div>
		<table class="table table-bordered">
			<tr>
				<th>Numéro</th>
				<th>Matchs</th>
				<th>Voir</th>
			</tr>
			{% for match in matchs %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ match.teamA.teamA }} VS {{ match.teamB.teamB }}</td>
				<td><a href="{{ path('match_ScoreBoard', {id: match.id}) }}"><input class="btn btn-sm btn-primary" type="button" value="Voir"/></a></td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% endblock %}