{% extends "ScoreBoardBundle::layout.html.twig" %}

{% set activePage = 'home' %}

{% block content %}
	<h1 class="test">Bienvenue</h1>

	<p> Vous pouvez ici créer votre match, projeter un écran avec le score et la timélie ainsi qu'un autre écran pour l'arbitre afin de gérer le score et les différents éléments qui seront affichés. dans la timeline</p>
		<table id="tableaumatchs">
			<tr>
				<th id="Number">Numéro</th>
				<th id="matchs">Matchs</th>
				<th id="boutton">Voir</th>
			</tr>
			{% for match in matchs %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ match.team1 }} VS {{ match.team2 }}</td>
				<td><a href="{{ path('match_ScoreBoard', {id: match.id}) }}"><input class="btn btn-sm btn-primary" type="button" value="Voir"/></a></td>
			</tr>
		   {% endfor %}
		</table>
{% endblock %}