{% extends "ScoreBoardBundle::layout.html.twig" %}

{% set activePage = 'team' %}

{% block content %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<div class="well">
			<h1>Team creation</h1>
			<p>Here you can create teams to participate to a match.</p>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Team creation form</h3>
			</div>
			<div class="panel-body">
				<form action="{{ path("team_ScoreBoard") }}" method="post">

		      	{{ form_widget(form) }}
		      
		      	<input type="submit" name="Envoie" value="Create" />
		    	</form>
		    	<li><a href="{{ path('creation_ScoreBoard') }}">Desire to create a game? Click here!</a></li>
			</div>
		</div>
	</div>
</div>

{% endblock %}